<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 570.85518 306.50068"
   width="950"
   height="auto"
   >
  <defs
     id="defs4" />
  </metadata>
  <g
     transform="translate(-48.197975,-210.43364)"
     id="layer1">
    <path
       id="path3336"
       d="M 48.487322,443.7453 217.1828,324.04222 c 44.44671,-33.33503 84.82868,-49.65234 131.8249,-49.49492 46.99623,0.15741 84.85282,11.10912 131.82491,50.50507 l 137.88582,124.24876"
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path3336-6"
       d="M 95.154988,511.93817 235.65756,412.29866 c 37.01864,-27.7477 70.65184,-41.33006 109.79391,-41.19901 39.14206,0.13102 70.67194,9.2471 109.7939,42.03986 l 114.84191,103.42327"
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.99999988px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <g
       id="all-sensors">
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position1"
         cx="83.571426"
         cy="437.00507"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position2"
         cx="99.464287"
         cy="456.82651"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position3"
         cx="115.35715"
         cy="476.64792"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position5"
         cx="345.71429"
         cy="313.79077"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position6"
         cx="592.5"
         cy="446.64792"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position7"
         cx="573.53571"
         cy="463.755"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position8"
         cx="554.57141"
         cy="480.86218"
         r="7.5" />
      <circle
         style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="position4"
         cx="188.92857"
         cy="368.79077"
         r="7.5" />
    </g>
    <circle
       r="7.5"
       cy="218.43364"
       cx="62.047241"
       id="group1"
       style="fill:#ff0000;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <circle
       r="7.5"
       cy="239.68362"
       cx="62.047241"
       id="group2"
       style="fill:#44aa00;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <circle
       r="7.5"
       cy="260.93362"
       cx="62.047241"
       id="group3"
       style="fill:#0000ff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg>
