<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/sensoren.html">Sensoren</a></li>
        <a href="http://www.mpa.uni-stuttgart.de" target="_blank"><img src="/images/mpa_logo.png" height="30px" align="right"></a>

      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="Bruecke.Monitoring@mpa.uni-stuttgart.de">email</a></li>
        <li><a href="https://stuttgarter-bruecke.github.io">stuttgarter-bruecke.github.io</a></li>
      </ul>
    </footer>
  </body>
</html>
